{% load i18n %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% translate "Ofir jobbank" %}</title>
        <meta name="description" content="">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/tailwindcss">
            @layer components {
              .select, .input {
                @apply border border-solid border-gray-400 rounded bg-white p-2;
              }
            }
        </style>
    </head>
    <body>
        <main class="container mx-auto mt-12">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
