{% load i18n %}
<ul class="flex flex-col gap-4">
    {% for job in object_list %}
        <li class="relative border border-solid border-gray-300 p-2 rounded">
            <a href="{% url 'job-detail' job.id %}">
                <img src="{{ job.logo_url }}" class="absolute top-2 right-2 w-10" />
                <h4 class="text-sm">{{ job.company }}</h4>
                <h5 class="text-xl mb-2">{{ job.title }}</h5>
                <p class="line-clamp-3 text-sm">{{ job.summary }}</p>
            </a>
        </li>
    {% empty %}
        <li>
            <div>{% translate 'Ingen fundne stillinger' %}</div>
            <div>
                {% blocktranslate %}
                    Prøv at rydde dine <a class="text-amber-500" href="/">filtre</a>
                {% endblocktranslate %}
            </div>
        </li>
    {% endfor %}
</ul>
